# PostgreSQL Database Connection
DATABASE_URL="postgresql://postgres:password@localhost:5432/our_space?schema=public"

# Session Security Secret (Generate with: openssl rand -hex 32)
SESSION_SECRET="our-space-super-secure-session-secret-key-32chars"
